$datepicker__background-color: #f0f0f0 !default;
$datepicker__border-color: #aeaeae !default;
$datepicker__highlighted-color: #3dcc4a !default;
$datepicker__muted-color: #ccc !default;
$datepicker__selected-color: #216ba5 !default;
$datepicker__text-color: #000 !default;

$datepicker__border-radius: .3rem !default;
$datepicker__day-margin: .166rem !default;
$datepicker__font-size: .8rem !default;
$datepicker__item-size: 2rem !default;
$datepicker__margin: .4rem !default;
$datepicker__navigation-size: .45rem !default;
$datepicker__triangle-size: 8px !default;



//Color Setup
$colorArray: orange banana pear blueberry blackberry dragonfruit watermelon original;
$colorChoice: nth($colorArray, 8);
//colorArray index starts at 1, not 0

$mainColor: null;
$mainColorLight: null;
$accentColor: null;
$accentColorLight: null;

@if $colorChoice == orange {
  $mainColor: #F6820D;
  $mainColorLight: #F7BA7C;
  $accentColor: #61C614;
  $accentColorLight: #DDF8C7;
  } @else if $colorChoice == banana {
    $mainColor: #EBEF0F;
    $mainColorLight: #EEEF89;
    $accentColor: #7C4A21;
    $accentColorLight: #AE8665;
  } @else if $colorChoice == pear {
    $mainColor: #98C623;
    $mainColorLight: #C7E57A;
    $accentColor: #C58337;
    $accentColorLight: #F4E3AE;
  } @else if $colorChoice == blueberry {
    $mainColor: #563DC3;
    $mainColorLight: #8D94F2;
    $accentColor: #63477B;
    $accentColorLight: #C9BDD4;
  } @else if $colorChoice == blackberry {
    $mainColor: #1e1e1e;
    $mainColorLight: #424242;
    $accentColor: #774ab2;
    $accentColorLight: #b78eed;
  } @else if $colorChoice == dragonfruit {
    $mainColor: #00ffa1;
    $mainColorLight: #a7f2d6;
    $accentColor: #c61fa5;
    $accentColorLight: #e86fa2;
  } @else if $colorChoice == watermelon {
    $mainColor: #e54e4b;
    $mainColorLight: #f4817f;
    $accentColor: #09511b;
    $accentColorLight: #33d65d;
  } @else if $colorChoice == original {
    $mainColor: white;
    $mainColorLight: #63676b; //Dark gray
    $accentColor: #aa0813; //Red
    $accentColorLight: #aecfef; //light Blue
  } @else {
    //this is a white and blue color pallet
    $mainColor: #FFFFFF;
    $mainColorLight: #C6C6C6;
    $accentColor: #AEEDEE;
    $accentColorLight: #84CACB;
  }

body {
  font-family: sans-serif;
  background-color: $accentColorLight;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }
}

.row {
  margin: 0;
}

.table-responsive {
  border-color: $accentColor;
  margin-top: 10px;
}

.table>thead{
  background-color: $accentColor;
  color: $mainColor;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  border-color: $accentColor;
}

tbody {
  background-color: $mainColor;
}

.panel-default>.panel-heading {
  background-color: $accentColor;
  color: $mainColor;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: $accentColor;
}

.panel-default {
  border-color: $accentColor;
  background-color: $mainColor;
  color: $accentColorLight;
}

.panel-body {
  background-color: $mainColor;
  color: $mainColorLight;
}

.backgroundMainColor {
  background-color: $mainColor;
}

.backgroundMainColorLight {
  background-color: $mainColorLight;
}

.backgroundAccentColor {
  background-color: $accentColor;
}

.backgroundAccentColorLight {
  background-color: $accentColorLight;
}

.fontMainColor {
  color: $mainColor;
}

.fontMainColorLight {
  color: $mainColorLight;
}

.fontAccentColor {
  color: $accentColor;
}

.fontAccentColorLight {
  color: $accentColorLight;
}

.checkbox label {
  color: $mainColorLight;
}

.buissnessImage {
  width: 100%;
  margin-bottom: 10px;
  border: 1px $accentColor solid;
  border-radius: 5px;
}

.listMed {
  height: 45px;
}

.noPaddingLeft {
  padding-left: 0;
}

.noPaddingRight {
  padding-right: 0;
}

.noPaddingBottom {
  padding-bottom: 0;
}

.noPadding {
  padding: 0;
}

.floatRight {
  float: right;
}

.displayBlock {
  display: block;
}

.displayInline {
  display: inline;
}

.noMargin {
  margin: 0;
}

.marginLeft15 {
  margin-left: 15px;
}

.alignCenter {
  text-align: center;
}

.hrColor {
  border-top: 2px solid $accentColor;
}

.contentDiv {
  height: 100vh;
}

.myTripList {
  border: 2px solid $accentColor;
  border-radius: 5px;
  color: $mainColor;
  background-color: $mainColorLight;
}

.linkOnNav {
  margin: 0 0 15px 15px;
  color: $mainColor;
}

//working with no 'position: absolute'
.theMapBox {
  height: 260px;
  width: 100%;
  top:0;
  bottom:0;
}

.mapPin {
  height: 36px;
  width: 19px;
  z-index: 1;
  position: absolute;
  top: 42%;
  left: 48%;

}

.welcomeUser {
  margin: 0 0 15px 15px;
  padding-top: 20px;
}

.destButton {
  vertical-align: bottom;
  float: right;
  border-color: $accentColor;
  color: $mainColor;
  background-color: $mainColorLight;
}

.mapboxgl-canvas {
  border: 2px $accentColor solid;
  border-radius: 5px;
}

.tripButton {
  margin-top: 15px;
  border: 2px $accentColor solid;
  border-radius: 5px;
  background-color: $mainColorLight;
  color: $mainColor;
}

.finishedContainer {
  border: $accentColor solid 2px;
  border-radius: 5px;
  margin-top: 50px;
  padding-bottom: 10px;
  color: $mainColorLight;
  background-color: $mainColor;
}

.mapboxgl-popup-content {
  border: $accentColor solid 1px;
  border-radius: 3px;
  background: $mainColor !important;
  color: $mainColorLight;
}

.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: $accentColor !important;
}

.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: $accentColor !important;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  border-bottom-color: $accentColor !important;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: $accentColor !important;
}

.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip {
  border-bottom-color: $accentColor !important;
}

.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
  border-bottom-color: $accentColor !important;
}

.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip {
  border-top-color: $accentColor !important;
}

.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
  border-top-color: $accentColor !important;
}

.mapMarker {
  z-index: 1;
  width: 19px;
  height: 36px;
}

.mapboxgl-map {
  position: relative;
}
