//Color Setup
$colorArray: orange banana pear blueberry blackberry dragonfruit;
$colorChoice: nth($colorArray, 6);
//colorArray index starts at 1, not 0

$mainColor: null;
$mainColorLight: null;
$accentColor: null;
$accentColorLight: null;

@if $colorChoice == orange {
  $mainColor: #F6820D;
  $mainColorLight: #F7BA7C;
  $accentColor: #61C614;
  $accentColorLight: #DDF8C7;
  } @else if $colorChoice == banana {
    $mainColor: #EBEF0F;
    $mainColorLight: #EEEF89;
    $accentColor: #7C4A21;
    $accentColorLight: #AE8665;
  } @else if $colorChoice == pear {
    $mainColor: #98C623;
    $mainColorLight: #C7E57A;
    $accentColor: #C58337;
    $accentColorLight: #F4E3AE;
  } @else if $colorChoice == blueberry {
    $mainColor: #563DC3;
    $mainColorLight: #8D94F2;
    $accentColor: #63477B;
    $accentColorLight: #C9BDD4;
  } @else if $colorChoice == blackberry {
    $mainColor: #1e1e1e;
    $mainColorLight: #424242;
    $accentColor: #774ab2;
    $accentColorLight: #b78eed;
  } @else if $colorChoice == dragonfruit {
    $mainColor: #00ffa1;
    $mainColorLight: #a7f2d6;
    $accentColor: #c61fa5;
    $accentColorLight: #e86fa2;
  } @else {
    //this is a white and blue color pallet
    $mainColor: #FFFFFF;
    $mainColorLight: #C6C6C6;
    $accentColor: #AEEDEE;
    $accentColorLight: #84CACB;
  }

body {
  font-family: sans-serif;
  background-color: $mainColorLight;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }
}

.row {
  margin: 0;
}

.table-responsive {
  border-color: $accentColor;
  margin-top: 10px;
}

.table>thead{
  background-color: $mainColor;
  color: $accentColorLight;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  border-color: $accentColor;
}

.panel-default>.panel-heading {
  background-color: $mainColor;
  color: $accentColorLight;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: $accentColor;
}

.panel-default {
  border-color: $accentColor;
  background-color: $mainColor;
  color: $accentColorLight;
}

.panel-body {
  background-color: $accentColorLight;
  color: $mainColor;
}

.backgroundMainColor {
  background-color: $mainColor;
}

.backgroundMainColorLight {
  background-color: $mainColorLight;
}

.backgroundAccentColorLight {
  background-color: $accentColorLight;
}

.fontMainColor {
  color: $mainColor;
}

.fontAccentColor {
  color: $accentColor;
}

.fontAccentColorLight {
  color: $accentColorLight;
}

.buissnessImage {
  width: 100%;
  margin-bottom: 10px;
  border: 1px $accentColor solid;
  border-radius: 5px;
}

.listMed {
  height: 45px;
}

.noPaddingLeft {
  padding-left: 0;
}

.noPaddingRight {
  padding-right: 0;
}

.noPaddingBottom {
  padding-bottom: 0;
}

.floatRight {
  float: right;
}

.displayBlock {
  display: block;
}

.noMargin {
  margin: 0;
}

.marginLeft15 {
  margin-left: 15px;
}

.alignCenter {
  text-align: center;
}

.hrColor {
  border-top: 2px solid $accentColor;
}

.contentDiv {
  height: 100vh;
}

.myTripList {
  border: 2px solid $accentColor;
  border-radius: 5px;
  color: $accentColorLight;
  background-color: $mainColor;
}

.linkOnNav {
  margin: 0 0 15px 15px;
  color: $accentColorLight;
}

.welcomeUser {
  margin: 0 0 15px 15px;
  padding-top: 20px;
}

.destButton {
  vertical-align: bottom;
  float: right;
  margin: 0 10px 10px 0;
}

.mapboxgl-canvas {
  border: 2px $accentColor solid;
  border-radius: 5px;
}

.tripButton {
  margin-top: 15px;
  border: 2px $accentColor solid;
  border-radius: 5px;
  background-color: $accentColorLight;
  color: $mainColor;
}
