
//Color Setup
$colorArray: orange banana pear blueberry blackberry dragonfruit watermelon original new;
$colorChoice: nth($colorArray, 8);
//colorArray index starts at 1, not 0

$mainColor: null;
$mainColorLight: null;
$accentColor: null;
$accentColorLight: null;

@if $colorChoice == orange {
  $mainColor: #F6820D;
  $mainColorLight: #F7BA7C;
  $accentColor: #61C614;
  $accentColorLight: #DDF8C7;
  } @else if $colorChoice == banana {
    $mainColor: #EBEF0F;
    $mainColorLight: #EEEF89;
    $accentColor: #7C4A21;
    $accentColorLight: #AE8665;
  } @else if $colorChoice == pear {
    $mainColor: #98C623;
    $mainColorLight: #C7E57A;
    $accentColor: #C58337;
    $accentColorLight: #F4E3AE;
  } @else if $colorChoice == blueberry {
    $mainColor: #563DC3;
    $mainColorLight: #8D94F2;
    $accentColor: #63477B;
    $accentColorLight: #C9BDD4;
  } @else if $colorChoice == blackberry {
    $mainColor: #1e1e1e;
    $mainColorLight: #424242;
    $accentColor: #774ab2;
    $accentColorLight: #b78eed;
  } @else if $colorChoice == dragonfruit {
    $mainColor: #00ffa1;
    $mainColorLight: #a7f2d6;
    $accentColor: #c61fa5;
    $accentColorLight: #e86fa2;
  } @else if $colorChoice == watermelon {
    $mainColor: #e54e4b;
    $mainColorLight: #f4817f;
    $accentColor: #09511b;
    $accentColorLight: #33d65d;
  } @else if $colorChoice == original {
    $mainColor: white;
    $mainColorLight: #63676b; //Dark gray
    $accentColor: #aa0813; //Red
    $accentColorLight: #aecfef; //light Blue
  } @else if $colorChoice == new {
    $mainColor: #aa0813;
    $mainColorLight: #FCF4DD;
    $accentColor: #EBD460;
    $accentColorLight: #255F32;
  } @else {
    //this is a white and blue color pallet
    $mainColor: #FFFFFF;
    $mainColorLight: #C6C6C6;
    $accentColor: #AEEDEE;
    $accentColorLight: #84CACB;
  }

body {
  font-family: sans-serif;
  background-color: $accentColorLight;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }
}

.row {
  margin: 0;
}

.table-responsive {
  border-color: $accentColor;
  margin-top: 10px;
  font-size: 18px;
}

.table>thead{
  background-color: $accentColor;
  color: $mainColor;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  border-color: $accentColor;
}

tbody {
  background-color: $mainColor;
}

.panel-default>.panel-heading {
  background-color: $accentColor;
  color: $mainColor;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
  border-top-color: $accentColor;
}

.panel-default {
  border-color: $accentColor;
  background-color: $mainColor;
  color: $accentColorLight;
}

.panel-title>a {
  font-size: 20px;
}

.panel-body {
  background-color: $mainColor;
  color: $mainColorLight;
}

.backgroundMainColor {
  background-color: $mainColor;
}

.backgroundMainColorLight {
  background-color: $mainColorLight;
}

.backgroundAccentColor {
  background-color: $accentColor;
}

.backgroundAccentColorLight {
  background-color: $accentColorLight;
}

.fontMainColor {
  color: $mainColor;
}

.fontMainColorLight {
  color: $mainColorLight;
}

.fontAccentColor {
  color: $accentColor;
}

.fontAccentColorLight {
  color: $accentColorLight;
}

.authInput {
  width: 100%;
  line-height: 1.7;
  font-size: 24px;
  height: 40px;
}

.checkbox label {
  color: $mainColorLight;
}

.buissnessImage {
  width: 100%;
  margin-bottom: 10px;
  border: 1px $accentColor solid;
  border-radius: 5px;
}

.faveFood {
  // color: 'green';
  // font-family: 'impact';
  // border-style: solid;
  // border-color: goldenrod;
  // border-width: 10px;
  border: 7px solid $accentColor;
  -webkit-animation: mymove 3s infinite; /* Chrome, Safari, Opera */
  animation: mymove 3s infinite;

}

.faveFoodKey {
  color: $accentColor;
  -webkit-animation: mymove 3s infinite; /* Chrome, Safari, Opera */
  animation: mymove 3s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
  50% {border-color: yellow;}
  50% {color: yellow;}
}

/* Standard syntax */
@keyframes mymove {
  50% {border-color: yellow;}
  50% {color: yellow;}
}

.listMed {
  height: 45px;
}

.listPaddingLeft {
  padding-left: 10px;
}

.noPaddingLeft {
  padding-left: 0;
}

.noPaddingRight {
  padding-right: 0;
}

.noPaddingBottom {
  padding-bottom: 0;
}

.noPadding {
  padding: 0;
}

.marginRight10 {
  margin-right: 10px;
}

.floatRight {
  float: right;
}

.displayBlock {
  display: block;
}

.displayInlineBlock {
  display: inline-block;
}

.displayInline {
  display: inline;
}

.noMargin {
  margin: 0;
}

.marginTop10 {
  margin-top: 10px;
}

.text16px {
  font-size: 16px;
}

.marginLeft15 {
  margin-left: 15px;
}

.alignCenter {
  text-align: center;
}

.hrColor {
  margin-top: 52px;
  border-top: 2px solid $accentColor;
}

.navbar-default {
  border: 2px solid $accentColor;
}

.navbar-default .navbar-brand {
  font-size: 26px;
  color: $mainColor;
}

.navbar-default .navbar-nav>li>a {
  margin: 0;
  padding: 0;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: $mainColorLight;
}

.container {
  background-color: $mainColorLight;
}

.navbar-header {
  background-color: $accentColor;

}

.contentDiv {
  height: 100vh;
}

.myTripList {
  border-top: 2px solid $accentColor;
  border-bottom: 2px solid $accentColor;
  color: $mainColor;
  background-color: $mainColorLight;
}

.linkOnNav {
  margin: 0 0 15px 15px;
  color: $mainColor;
}

//working with no 'position: absolute'
.theMapBox {
  height: 260px;
  width: 100%;
  top:0;
  bottom:0;
}

.mapPin {
  height: 36px;
  width: 19px;
  z-index: 1;
  position: absolute;
  top: 42%;
  left: 48%;

}

#tripForm {
  width: 100%;
  margin: 0;
  padding: 15px;
}

.welcomeUser {
  margin: 15px 0 15px 15px;
}

.destButton {
  vertical-align: bottom;
  font-size: 22px;
  float: right;
  border-color: $accentColor;
  color: $mainColor;
  background-color: $mainColorLight;
}

.fontSize22 {
  font-size: 22px;
}

.mapboxgl-canvas {
  border: 2px $accentColor solid;
  border-radius: 5px;
}

.tripButton {
  font-size: 24px;
  margin-top: 15px;
  border: 2px $accentColor solid;
  border-radius: 5px;
  background-color: $mainColorLight;
  color: $mainColor;
}

.tripButtonSmall {
  font-size: 18px;
  margin-top: 10px;
  border: 2px $accentColor solid;
  border-radius: 5px;
  background-color: $mainColorLight;
  color: $mainColor;
}

.finishedContainer {
  border: $accentColor solid 2px;
  border-radius: 5px;
  margin-top: 50px;
  padding-bottom: 10px;
  color: $mainColorLight;
  background-color: $mainColor;
}

.mapboxgl-popup-content {
  border: $accentColor solid 1px;
  border-radius: 3px;
  background: $mainColor !important;
  color: $mainColorLight;
}

.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: $accentColor !important;
}

.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: $accentColor !important;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  border-bottom-color: $accentColor !important;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: $accentColor !important;
}

.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip {
  border-bottom-color: $accentColor !important;
}

.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
  border-bottom-color: $accentColor !important;
}

.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip {
  border-top-color: $accentColor !important;
}

.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
  border-top-color: $accentColor !important;
}

.mapMarker {
  z-index: 1;
  width: 19px;
  height: 36px;
}

.mapboxgl-map {
  position: relative;
}

.tripNameIn {
  height: 50px;
  margin-bottom: 15px !important;
}
